header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    border-bottom: 1px solid #dee2e6;
  }

  @media (max-width: 768px) {
    header {
      flex-direction: column; 
      align-items: center;
    }
    a {
      margin: 15px 0px;
    }
  }
  
  h1 {
    margin: 0;
    color: white;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  .main-header input {
    padding: 5px;
    margin-right: 10px;
    min-width: 120px;
    border: 2px solid #ced4da;
    border-radius: 4px;
  }

  .main-header input:focus {
    border: 2px solid #ccdbeb;
    outline-color: #a7a7a7;
    background-color: #f4f8fc;
  }

  .main-header form{
    max-width: 500px;
    width: 30%;
  }
  
  .home-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .home-button:hover{
    background-color: #294cc2;
  }

  button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }

  .button:hover{
    background-color: #294cc2;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  select {
    display: flex;
  }

  button.toggle-button {
    background-color: #38a5a8;
    font-size: 1.5em;
  }
  
  button.toggle-button:hover {
    background-color: #1077a0;
  }
  
  header.header-toggled button.toggle-button {
    background-color: #b052e2;
    font-size: 1.5em;
  }
  
  header.header-toggled button.toggle-button:hover {
    background-color: #9233c5;
  }
  
  .version-selector {
    display: flex;
    align-items: center;
  }
  
  .version-selector label {
    margin-right: 10px;
    color: white;
  }
  
  .version-selector select {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }

  .search-button {
    min-width: 90px;
    margin-right: 40px;
  }