.accordion-panel {
    margin: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 40em;
    position: relative;
  }
  
  .accordion-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .accordion-header:hover {
    background-color: #e5e6eb;
  }

  .accordion-header-test {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .category-je{
    margin-top: 5px;
    color: white;
    background-color: rgb(61, 168, 93);
    padding: 2px 12px;
    border-radius: 20px;
    font-size: 0.8em;
    cursor: pointer;
    display: block;
    text-align: left;
    margin-right:10px;
  }

  .accordion-p{
    margin: 10px;
    text-align: left;
    font-size: 1.2em;
    font-family: "Noto Sans JP", sans-serif;
  }

  .accordion-header h2 {
    margin: 0;
    font-size: 2em;
    text-align: left;
  }
  
  .accordion-toggle {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #3a3c3f;
  }
  
  .accordion-content {
    padding: 10px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    transition: max-height 0.3s ease-out;
  }
  
  .accordion-content.open {
    max-height: 500px; /* Adjust this value as needed */
    transition: max-height 0.3s ease-in;
  }

  .accordion-image {
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 600px;
  }
  
  .navigate-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navigate-button:hover {
    background-color: #0056b3;
  }
  
  .accordion-category{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .accordion-videos{
    text-align: center;
    display: grid;
  }

  .accordion-delete{
    margin-top: 10px;
    background-color: rgb(231, 93, 93);
    width: 80px;
    height: 40px;
  }

  .accordion-edit{
    background-color: rgb(47, 170, 53);
    width: 80px;
    height: 40px;
  }