.SignIn{
    margin-top: 30px;
    display: grid;
    align-items: center;
    cursor: pointer;
}

.SignIn p{
    text-align: center;
}

.error{
    text-align: center;
}

.SignIn h1{
    text-align: center !important;
    color: rgb(27, 27, 27);
}

.SignIn input{
    margin-bottom: 10px;
    overflow: hidden;
    min-width: 20em;
    max-width: 40em;
    margin:10px auto;
}

.SignIn button {
    margin:10px auto;
    background-color: #007bff;
    color: white;
    width: 8em;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.link-button{
    font-size: 0.9em;
    text-decoration-line: none;
    margin:5px auto;
    background-color: #007bff;
    color: white;
    width: 8em;
    padding: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.link-button:hover{
    background-color: #294cc2;
}
