.Dictionary {
    text-align: center;
}

.dictionary-list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dictionary-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 80%;
    text-align: left;
}
  
.dictionary-list-h2 {
    margin: 0px 10px;
    font-size: 2em;
    padding-left: 60px;
    text-align: left;
}

.dictionary-list-border{
    border-bottom: 3px solid red;
}