.Verification{
    margin-top: 30px;
    display: grid;
    align-items: center;
    cursor: pointer;
}

.Verification p{
    text-align: center;
    color: rgb(5, 5, 5);
    font-weight: bold;
}

.Verification h1{
    text-align: center !important;
    color: rgb(27, 27, 27);
}

.Verification input{
    margin-bottom: 10px;
    overflow: hidden;
    min-width: 20em;
    max-width: 40em;
    margin:10px auto;
}

.Verification button {
    margin:10px auto;
    background-color: #007bff;
    color: white;
    width: 8em;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
